<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngIf="isAuthenticated()" class="nav" [routerLink]="['/login']">Login</span>&nbsp;&nbsp;
      <span *ngIf="isAuthenticated()" class="nav" [routerLink]="['/']">Register</span>&nbsp;&nbsp;
      <span *ngIf="!isAuthenticated()" class="nav" [routerLink]="['/']" (click)="logout()">Logout</span>&nbsp;&nbsp;
      <span *ngIf="!isAuthenticated()" class="nav" [routerLink]="['/employee']">View Profile</span>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>